// Colors

$black: #2a2a2a;
$white: #fff;
$blue: #1996c5eb;
$dark-blue: rgba(44, 62, 80, .7);
$red: #FF0000;
$veryLightGray: #cbcbcb;
$lightgray: #585858;
$lightblue: #5693dd;

$darkBlack: #000;
$darkBlue: #2d427a;

// Fonts

$boldFont: Muli-Bold, sans-serif;
$defaultFont: Muli, sans-serif;
$lightFont: Muli-light, sans-serif;
